<footer th:fragment="footer">
        <div class="footer-box row">
            <ul class="col-12 footer-nav d-flex p-5 justify-content-center">
                <li class="col-2 d-flex flex-column">
                    <h5>BRAND</h5>
                    <a class="text-body" th:href="@{/products(category='adidas')}">ADIDAS</a>
                    <a class="text-body" th:href="@{/products(category='nike')}">NIKE</a>
                    <a class="text-body" th:href="@{/products(category='vans')}">VANS</a>
                    <a class="text-body" th:href="@{/products(category='etc')}">ETC</a>
                </li>
                <li class="col-2 d-flex flex-column">
                    <h5>DEVELOPER</h5>
                    <a class="text-body" href="https://github.com/qsdcv301" target="_blank">김태현</a>
                    <a class="text-body" href="https://github.com/HwangYeJoo" target="_blank">황예주</a>
                    <a class="text-body" href="https://github.com/ChaiTope" target="_blank">채윤성</a>
                    <a class="text-body" href="https://github.com/JaeHwan2569" target="_blank">정재환</a>
                    <a class="text-body" href="https://github.com/LEE-JUNGIN" target="_blank">이정인</a>
                </li>
                <li class="col-2 d-flex flex-column">
                    <h5>FOLLOW US</h5>
                    <i class="ri-facebook-box-fill"><a href="https://www.facebook.com/">Facebook</a></i>
                    <i class="ri-instagram-fill"><a href="https://www.instagram.com/">Instagram</a></i>
                    <i class="ri-twitter-fill"><a href="https://x.com/">Twitter</a></i>
                    <i class="ri-youtube-fill"><a href="https://www.youtube.com/">Youtube</a></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="copyright text-center pt-4 pb-2">
            <div class="col-12 text-center text-white">
                <p> 김포이젠아카데미컴퓨터학원 | 경기 김포시 김포한강4로 125 월드타워 | 팀장: 김태현 | 팀원: 황예주, 채윤성, 정재환, 이정인 </p>
            </div>
            <p class="text-white">&copy; Ezen Team Project, LLC. All Rights Reserved</p>
        </div>
</footer>