<footer th:fragment="footer">
        <div class="footer-box row">
            <ul class="col-12 footer-nav d-flex p-5 justify-content-center">
                <li class="col-2 d-flex flex-column">
                    <h5>BRAND</h5>
                    <a class="text-body" href="#">ADIDAS</a>
                    <a class="text-body" href="#">NIKE</a>
                    <a class="text-body" href="#">VANS</a>
                </li>
                <li class="col-2 d-flex flex-column">
                    <h5>DEVELOPER</h5>
                    <a class="text-body" href="https://github.com/qsdcv301">김태현</a>
                    <a class="text-body" href="https://github.com/HwangYeJoo">황예주</a>
                    <a class="text-body" href="https://github.com/ChaiTope">채윤성</a>
                    <a class="text-body" href="https://github.com/JaeHwan2569">정재환</a>
                    <a class="text-body" href="https://github.com/LEE-JUNGIN">이정인</a>
                </li>
                <li class="col-2 d-flex flex-column">
                    <h5>SUPPORT</h5>
                    <a class="text-body" href="#">고객센터</a>
                    <a class="text-body" href="#">회원가입</a>
                    <a class="text-body" href="#">주문 / 배송 조회</a>
                    <a class="text-body" href="#">많이 하시는 질문</a>
                    <a class="text-body" href="#">구매 이용약관</a>
                </li>
                <li class="col-2 d-flex flex-column">
                    <h5>FOLLOW US</h5>
                    <i class="ri-facebook-box-fill"><span>Facebook</span></i>
                    <i class="ri-instagram-fill"><span>Instagram</span></i>
                    <i class="ri-twitter-fill"><span>Twitter</span></i>
                    <i class="ri-youtube-fill"><span>Youtube</span></i>
                </li>
            </ul>

        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="copyright text-center pt-4 pb-2">
            <div class="col-12 text-center text-white">
                <p> 김포이젠아카데미컴퓨터학원 | 경기 김포시 김포한강4로 125 월드타워 | 팀장: 김태현 | 팀원: 황예주, 채윤성, 정재환, 이정인 </p>
            </div>

            <div class="footer-subnav py-3">
                <a class="text-white text-decoration-none" href="#">이용 약관</a>
                <span class="px-3 text-white">ㅣ</span>
                <a class="text-white text-decoration-none" href="#">회원 가입</a>
                <span class="px-3 text-white">ㅣ</span>
                <a class="text-white text-decoration-none" href="#">마이페이지</a>
            </div>
            <p class="text-white">&copy; Ezen Team Project, LLC. All Rights Reserved</p>

        </div>
</footer>