  <header th:fragment="header">
    <div class="notice-container">
      <span>공지사항</span>
      <i class="bi bi-chevron-down ml-2"></i>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <!-- 로고 -->
        <div class="class col-2">
          <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg"
                 alt="Adidas Logo">
          </a>
        </div>
        <!-- 내비게이션 -->
        <div class="collapse navbar-collapse col-6 position-relative">
          <ul class="navbar-nav mb-2 mb-lg-0 position-absolute">
            <li class="nav-item ml-auto mr-auto">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item ml-auto mr-auto">
              <a class="nav-link" href="#">Men</a>
            </li>
            <li class="nav-item ml-auto mr-auto">
              <a class="nav-link" href="#">Women</a>
            </li>
            <li class="nav-item ml-auto mr-auto">
              <a class="nav-link" href="#">Brands</a>
            </li>
            <li class="nav-item ml-auto mr-auto">
              <a class="nav-link" href="#">Sports</a>
            </li>
            <li class="nav-item ml-auto mr-auto">
              <a class="nav-link" href="#">Sale</a>
            </li>
          </ul>
        </div>

        <!-- 사용자 섹션 -->
        <div class="user-sec col-2 position-relative">

          <div class="top-links position-absolute">
            <a href="#" class="mr-2">도움말</a>
            <a href="#" class="mr-2">주문 및 반품</a>
            <a href="#" class="mr-2">가입하기</a>
          </div>

          <!-- 검색 바 -->
          <form class="d-flex search-bar position-absolute">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- 사용자 메뉴 -->
          <div class="d-flex user-menu position-absolute">
            <a href="#" class="navi-link icon">
              <i class="bi bi-person"></i>
            </a>
            <a href="#" class="navi-link icon">
              <i class="bi bi-heart"></i>
            </a>
            <a href="#" class="navi-link icon">
              <i class="bi bi-bag"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-menu"></div>
  </header>
