<header th:fragment="header">
    <div class="notice-container">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <!-- 로고 -->
            <div class="class col-2">
                <a class="navbar-brand" href="#">
                    <img alt="Adidas Logo" src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg">
                </a>
            </div>
            <!-- 내비게이션 -->
            <div class="collapse navbar-collapse col-6 position-relative">
                <ul class="navbar-nav mb-2 mb-lg-0 position-absolute">
                    <li class="nav-item ml-auto mr-auto" data-submenu="nike">
                        <a aria-current="page" class="nav-link active" href="products?category=nike">NIKE</a>
                    </li>
                    <li class="nav-item ml-auto mr-auto" data-submenu="adidas">
                        <a class="nav-link active" href="products?category=adidas">Adidas</a>
                    </li>
                    <li class="nav-item ml-auto mr-auto" data-submenu="newbalance">
                        <a class="nav-link active" href="products?category=newbalance">NewBalance</a>
                    </li>
                    <li class="nav-item ml-auto mr-auto" data-submenu="etc">
                        <a class="nav-link active" href="products?category=etc">ETC</a>
                    </li>
                </ul>
            </div>

            <!-- 사용자 섹션 -->
            <div class="user-sec col-2 position-relative">

                <div class="top-links position-absolute">
                    <a class="mr-2" href="#">도움말</a>
                    <a class="mr-2" href="#">주문 및 반품</a>
                    <a class="mr-2" href="#">가입하기</a>
                </div>

                <!-- 검색 바 -->
                <form class="d-flex search-bar position-absolute">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- 사용자 메뉴 -->
                <div class="d-flex user-menu position-absolute">
                    <a class="navi-link icon" href="#">
                        <i class="bi bi-person"></i>
                    </a>
                    <a class="navi-link icon" href="#">
                        <i class="bi bi-heart"></i>
                    </a>
                    <a class="navi-link icon" href="#">
                        <i class="bi bi-bag"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="header-menu"></div>
</header>