<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="notice-container">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <!-- 로고 -->
            <div class="class col-2">
                <a class="navbar-brand" href="/">
                    <!-- 로고 이미지 수정 필요 -->
                    <img alt="Adidas Logo" src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg">
                </a>
            </div>
            <!-- 내비게이션 -->
            <div class="hd-mainnav collapse navbar-collapse col-4 position-relative">
                <ul class="navbar-nav mb-2 mb-lg-0 position-absolute">
                    <li class="nav-item ml-auto mr-auto" data-submenu="brand">
                        <a aria-current="page" class="nav-link active" data-category="nike" href="#">NIKE</a>
                    </li>
                    <li class="nav-item ml-auto mr-auto" data-submenu="brand">
                        <a class="nav-link active" data-category="adidas" href="#">ADIDAS</a>
                    </li>
                    <li class="nav-item ml-auto mr-auto" data-submenu="brand">
                        <a class="nav-link active" data-category="vans" href="#">VANS</a>
                    </li>
                    <li class="nav-item ml-auto mr-auto" data-submenu="brand">
                        <a class="nav-link active" data-category="etc" href="#">ETC</a>
                    </li>
                </ul>
            </div>

            <!-- 사용자 섹션 -->
            <div class="user-sec col-2 position-relative">
                <div class="top-links position-absolute">
                    <div sec:authorize="isAuthenticated()">
                        <!-- 로그인된 경우 -->
                        <a class="mr-3" href="/help">도움말</a>
                        <a class="mr-3" href="/logout">로그아웃</a>
                        <span class="mr-3" th:text="${username} + '님 환영합니다!'"></span>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <!-- 로그인되지 않은 경우 -->
                        <a class="mr-3" href="/login">로그인</a>  <!-- 로그인 페이지로 연결 -->
                        <a class="mr-3" href="/register">회원가입</a> <!-- 회원가입 페이지로 연결 -->
                        <a class="mr-3" href="/help">도움말</a>
                    </div>
                </div>

                <!-- 검색 바 -->
                <!--                <form class="d-flex search-bar position-absolute">-->
                <!--                    <div class="input-group">-->
                <!--                        <input aria-label="Search" class="form-control" placeholder="Search" type="search">-->
                <!--                        <div class="input-group-append">-->
                <!--                            <button class="btn" type="submit">-->
                <!--                                <i class="bi bi-search"></i>-->
                <!--                            </button>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->
                <!-- 사용자 메뉴 -->
                <div class="d-flex user-menu position-absolute pr-3" sec:authorize="isAuthenticated()">
                    <a class="navi-link icon mr-2" href="/mypage">
                        <i class="bi bi-person"></i>
                    </a>
                    <a class="navi-link icon" href="/cart">
                        <i class="bi bi-bag"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="header-menu"></div>
</header>
