a {
    color: #222;
    font-size: 15px;
}

.notice-container {
    height: 40px;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.navbar {
    height: 85px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: -5px;
}

.search-bar {
    width: 70%;
    top: -5px;
    margin-left: -75px;
}

.user-menu {
    width: 50%;
    left: calc(50% + 10px);
    top: -12px;
    font-size: 14px;
}

.nav-item {
    margin-left: 20px;
}

.nav-item > a {
    font-size: 18px;
    font-weight: 600;
}

.user-menu > .icon {
    font-size: 20px;
    color: #222;
}

.user-sec {
    display: flex;
}

.top-links {
    top: -40px;
    right: 0;
}

/*서치 버튼*/
.input-group .form-control {
    height: calc(2.25rem + 2px);
    /* 기본 높이 설정 */
    border-right: 0;
    /* 오른쪽 테두리 제거 */
}

.input-group .btn {
    height: calc(2.25rem + 2px);
    /* 기본 높이 설정 */
    border-left: 0;
    /* 왼쪽 테두리 제거 */
}

.input-group .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*헤더 메뉴*/
.header-menu {
    /* background-color: #ddd;  */
    height: 200px;
    display: none
}

.btn {
    border: 1px solid #ccc;
}

.navi-link {
    padding: 10px;
}

.user-menu {
    display: flex;
    justify-content: space-around;
}

.slider-btn {
    z-index: 100;
}

.s-img img {
    max-width: 100%;
    cursor: pointer;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    box-sizing: content-box;
    display: block;
}

.b-img img {
    max-width: 100%;
}

/* 임시 */
/* header */
header {

}

/* header 로고*/


/* header 내비게이션*/
/* .hd-mainnav ul{
     border: 1px solid #222;
} */

.hd-mainnav li{
    margin-bottom: 2px;
}

.hd-mainnav a{
    color: #222;
    font-weight: bold;
    /* text-decoration: underline 3px solid #222; */
    /* text-underline-offset: 16px; */
}

.nav-link{
    position: relative;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #222;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-link:hover:after {
    width: 100%;
    left: 0;
}

/* header 사용자 섹션 */
.user-sec a{
    color: #222;
    font-size: 13px;
    font-weight: 500;
}
/* header 검색 바 */


/* header 사용자 메뉴 */


/* header 내비게이션 메뉴 */
.hd-navmenu {
    /* margin-left: 120px; */
}

.hd-navmenu h5 {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 14px;
    text-decoration: underline 2px solid #ddd;
    text-underline-offset: 10px;
}

.hd-navmenu ul a{
    color: #222;
    font-size: 15px;
}

/* footer_html.css */
.footer{
    margin: 0;
    padding: 0;
}

.footer-box h5 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: #222;
}

.footer-box a {
    font-size: 14px;
    color: #222;
    margin-bottom: 2px;
}

.footer-box p {
    font-size: 14px;
    color: #222;
    margin-top: -15px;
}

.copyright p{
    font-size: 12px;
}

.footer-subnav a {
    font-size: 13px;
}