a {
    color: #222;
    font-size: 14px;
}

.notice-container {
    height: 40px;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.navbar {
    height: 85px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: -5px;
}

.search-bar {
    width: 70%;
    top: -5px;
    margin-left: -75px;
}

.user-menu {
    width: 50%;
    left: calc(50% + 10px);
    top: -12px;
    font-size: 14px;
}

.nav-item {
    margin-left: 20px;
}

.nav-item>a {
    font-size: 18px;
    font-weight: 600;
}

.user-menu>.icon {
    font-size: 20px;
    color: #222;
}

.user-sec {
    display: flex;
}

.top-links {
    top: -40px;
    right: 0;
}

/*서치 버튼*/
.input-group .form-control {
    height: calc(2.25rem + 2px);
    /* 기본 높이 설정 */
    border-right: 0;
    /* 오른쪽 테두리 제거 */
}

.input-group .btn {
    height: calc(2.25rem + 2px);
    /* 기본 높이 설정 */
    border-left: 0;
    /* 왼쪽 테두리 제거 */
}

.input-group .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*헤더 메뉴*/
.header-menu {
    background-color: #ddd;
    height: 500px;
    display: none
}

.btn {
    border: 1px solid #ccc;
}

.navi-link {
    padding: 10px;
}

.user-menu {
    display: flex;
    justify-content: space-around;
}

.slider-btn {
    z-index: 100;
}
  