<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Shoes Shop</title>
    <!-- 부트스트랩 아이콘 사용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/css/style.css" rel="stylesheet"/>
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/mainpage.js"></script>
    <script src="../../static/js/script.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <div class="row">
        <div class="col-7">
            <div class="img-box d-flex">
                <div class="s-img">
                    <img th:src="/images/${category}/${product.name}_02.png"
                         th:alt="${product.name}02" class="simg">
                    <img th:src="/images/${category}/${product.name}_03.png"
                         th:alt="${product.name}03" class="simg">
                    <img th:src="/images/${category}/${product.name}_04.png"
                         th:alt="${product.name}04" class="simg">
                    <img th:src="/images/${category}/${product.name}_05.png"
                         th:alt="${product.name}05" class="simg">
                    <img th:src="/images/${category}/${product.name}_06.png"
                         th:alt="${product.name}06" class="simg">
                </div>
                <div class="b-img ml-2">
                    <img th:src="/images/${category}/${product.name}_01.png" th:alt="${product.name}01">
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <p>상품소개1</p>
                    <h4>상품이름</h4>
                    <p>상품소개2</p>
                    <p>가격 <span id="price">10,000</span>원</p>
                </div>
                <div class="card-body">
                    <h4>구입가능한 사이즈</h4>
                    <div class="btn-group d-flex flex-wrap">
                        <button class="btn btn-success px-5 m-1">1</button>
                        <button class="btn btn-success px-5 m-1">2</button>
                        <button class="btn btn-success px-5 m-1">3</button>
                        <button class="btn btn-success px-5 m-1">4</button>
                        <button class="btn btn-success px-5 m-1">5</button>
                        <button class="btn btn-success px-5 m-1">6</button>
                        <a href="#">사이즈 가이드</a>
                    </div>
                    <button class="btn btn-dark px-5 py-3 my-5">장바구니 담기<span class="ml-5">화살표</span></button>
                    <p>배송 / 반품 / 교환</p>
                    <p>세탁 및 취급 시 주의사항</p>
                    <p>품질 보증 및 AS 정보</p>
                    <p>상품 제조연월 정보</p>
                    <h4>리뷰 (<span>74</span>) <p class="float-right"><span>*</span> <span>*</span>
                        <span>*</span>
                        <span>*</span>
                        <span>*</span>
                        <span>화살표</span>
                    </p>
                    </h4>
                    <div class="review"></div>
                    <hr>
                    <p>유저 아이디</p>
                    <p><span>*</span> <span>*</span>
                        <span>*</span>
                        <span>*</span>
                        <span>*</span>
                        <span class="float-right">리뷰작성날짜</span>
                    </p>
                    <p>리뷰 내용</p>
                    <hr>
                    <p>유저 아이디</p>
                    <p><span>*</span> <span>*</span>
                        <span>*</span>
                        <span>*</span>
                        <span>*</span>
                        <span class="float-right">리뷰작성날짜</span>
                    </p>
                    <p>리뷰 내용</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>