<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Shoes Shop</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- 부트스트랩 아이콘 사용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/home_html.css" rel="stylesheet">
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="mainimg slide container-fluid">
    <div class="mainimg-continer row overflow-hidden">
        <!-- 첫 번째 이미지 섹션 -->
        <div class="mimg-1 col-12 p-0 position-relative">
            <video autoplay class="w-100 min-vw-100" loop muted>
                <source src="/images/nike.mp4" type="video/mp4">
            </video>
            <div style="position: absolute; bottom: 80px; left: 150px; text-align: left; color: #fff;">
                <h2 style="font-size: 45px; font-weight: bold; margin-bottom: 15px;">THE GAME</h2>
                <p style="font-size: 23px; font-weight: 400; margin-bottom: 30px;">오늘의 스트릿 스타일을 리드하는 <br> 70년대 러닝의 아이콘
                </p>
                <a class="btn btn-outline-light" href="/products" style="font-size: 22px;">지금 구매하기 <i
                        class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <!-- 두 번째 이미지 섹션 -->
        <div class="mimg-2 col-12 p-0 position-relative">
            <video autoplay class="w-100 min-vw-100" loop muted>
                <source src="/images/adidas.mp4" type="video/mp4">
            </video>
            <div style="position: absolute; bottom: 80px; left: 150px; text-align: left; color: #fff;">
                <h2 style="font-size: 45px; font-weight: bold; margin-bottom: 30px;">THE GAME NEVER STOPS</h2>
                <a class="btn btn-outline-light" href="/products" style="font-size: 22px;">구매하기 <i
                        class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="iconic container-fluid my-5">
    <div class="row">
        <div class="slider-container col-12">
            <h3 class="py-3">ALWAYS ICONIC</h3>
            <div class="slider position-relative">
                <button class="slider-btn left-btn position-absolute"><i class="bi bi-chevron-left"></i></button>
                <div class="slider-items card-deck d-flex">
                    <a class="card" href="productsDetail?productCode=8&category=adidas">
                        <video autoplay loop muted>
                            <source src="/images/adidas/samba01_video01.webm" type="video/webm">
                        </video>
                    </a>
                    <a class="card" href="productsDetail?productCode=4&category=adidas">
                        <video autoplay loop muted>
                            <source src="/images/adidas/everyset01_video01.webm" type="video/webm">
                        </video>
                    </a>
                    <a class="card" href="productsDetail?productCode=3&category=adidas">
                        <video autoplay loop muted>
                            <source src="/images/adidas/dropset01_video01.webm" type="video/webm">
                        </video>
                    </a>
                    <a class="card" href="productsDetail?productCode=2&category=adidas">
                        <video autoplay loop muted>
                            <source src="/images/adidas/amplimove01_video01.webm" type="video/webm">
                        </video>
                    </a>
                    <a class="card" href="productsDetail?productCode=1&category=adidas">
                        <video autoplay loop muted>
                            <source src="/images/adidas/adistar01_video01.webm" type="video/webm">
                        </video>
                    </a>
                </div>
                <button class="slider-btn right-btn position-absolute"><i class="bi bi-chevron-right"></i></button>
            </div>
        </div>

    </div>
</div>
<div class="styling container my-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-left">SHOSE STYLING</h3>
            <div class="card-deck">
                <a class="card" href="productsDetail?productCode=14&category=nike">
                    <video autoplay loop muted>
                        <source src="/images/nike/v2k01_video01.mp4" type="video/mp4">
                    </video>
                </a>
                <a class="card" href="productsDetail?productCode=31&category=nike">
                    <video autoplay loop muted>
                        <source src="/images/nike/v2k03_vidio_01.mp4" type="video/mp4">
                    </video>
                </a>
                <a class="card" href="productsDetail?productCode=11&category=nike">
                    <video autoplay loop muted>
                        <source src="/images/nike/dunk01_video01.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
            <div class="card-deck my-4">
                <a class="card" href="productsDetail?productCode=26&category=nike">
                    <video autoplay loop muted>
                        <source src="/images/nike/dunk02_video01.mp4" type="video/mp4">
                    </video>
                </a>
                <a class="card" href="productsDetail?productCode=25&category=nike">
                    <video autoplay loop muted>
                        <source src="/images/nike/cortez02_video01.mp4" type="video/mp4">
                    </video>
                </a>
                <a class="card" href="productsDetail?productCode=14&category=nike">
                    <video autoplay loop muted>
                        <source src="/images/nike/v2k01_video01.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
            <h3 class="text-center">SLIDE STYLING</h3>
            <p>올 가을 나만의 스타일이 필요하다면 <br> 지금 바로 만나보세요! </p>
            <a class="btn btn-dark px-5" href="/products">전체보기</a>
        </div>
    </div>
</div>
<div class="products container-fluid my-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-left">
                <a class="btn btn-outline-dark" href="/products?category=nike">NIKE ⚡</a>
                <a class="btn btn-outline-dark" href="/products?category=adidas">ADIDAS 🔥</a>
                <a class="btn btn-outline-dark" href="/products?category=vans">VANS ✨</a>
                <a class="btn btn-outline-dark" href="/products">전체보기</a>
            </h3>
            <div class="d-flex w-100 mt-3 flex-wrap px-5 justify-content-between">
                <div class="card text-center my-5" style="max-width: 22%"
                     th:each="product, index : ${#lists.size(products) > 8 ? products.subList(0, 8) : products}">
                    <a class="text-decoration-none"
                       th:href="@{/productsDetail(productCode=${product.id}, category=${categories[index.index]})}">
                        <img class="card-img-top w-100" th:alt="${product.name}" th:src="${imageUrls[index.index]}">
                        <p class="pt-3">제품명 : <span class="product-name" th:text="${product.name}">A상품</span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    //이미지 슬라이드 버튼
    $(document).ready(function () {
        const visibleCount = 5; // 화면에 보일 이미지 개수
        const sliderItems = $('.slider-items');
        const cards = $('.slider-items .card');
        const totalItems = cards.length;

        // 초기 설정: 슬라이더 폭을 이미지 개수에 맞게 설정
        sliderItems.css('width', `${totalItems * 100 / visibleCount}%`);
        cards.css('width', `${100 / totalItems}%`);

        // 왼쪽 버튼 클릭 이벤트
        $('.left-btn').click(function () {
            sliderItems.prepend(sliderItems.children().last());
        });

        // 오른쪽 버튼 클릭 이벤트
        $('.right-btn').click(function () {
            sliderItems.append(sliderItems.children().first());
        });
    });

</script>
</body>

</html>