<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Shoes Shop</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- 부트스트랩 아이콘 사용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <div class="row">
        <div class="col-7">
            <div class="img-box d-flex">
                <div class="s-img col-2 p-0">
                    <img class="simg"
                         th:alt="${product.name}+ '_02'" th:src="${imageUrls[1]}">
                    <img class="simg"
                         th:alt="${product.name}+ '_03'" th:src="${imageUrls[2]}">
                    <img class="simg"
                         th:alt="${product.name}+ '_04'" th:src="${imageUrls[3]}">
                    <img class="simg"
                         th:alt="${product.name}+ '_05'" th:src="${imageUrls[4]}">
                    <img class="simg"
                         th:alt="${product.name}+ '_06'" th:src="${imageUrls[5]}">
                </div>
                <div class="b-img col-10 px-0 pl-1">
                    <img th:alt="${product.name}+ '_01'" th:src="${imageUrls[0]}">
                </div>
            </div>
        </div>
        <form action="/addCart" class="col-5" method="post" name="addCart">
            <div class="card">
                <div class="card-header">
                    <p th:text="${category}">브랜드</p>
                    <h4 th:text="${product.name}">상품이름</h4>
                    <p th:text="${product.description}">상품 설명</p>
                    <p><span id="price" class="product-price" th:text="${product.price}"></span></p>
                </div>
                <div class="card-body">
                    <h4>구입가능한 사이즈</h4>
                    <div class="btn-group d-flex flex-wrap" id="size-buttons">
                        <button class="btn btn-success px-5 m-1 size-btn"
                                th:each="size : ${sizes}"
                                th:text="${size.key}"
                                th:disabled="${!size.value}"
                                type="button">
                        </button>
                        <a href="#" id="size-guide-link">사이즈 가이드</a>
                    </div>
                    <h4 class="mt-2">수량</h4>
                    <input type="number" name="quantity" class="form-control w-25 mt-1">
                    <button class="btn btn-dark px-4 py-3 my-4" type="submit">장바구니 담기<span class="ml-3"> <i
                            class="bi bi-bag"></i></span></span>
                    </button>
                    <a href="/cart" class="btn btn-dark px-4 py-3 my-4 ml-3">장바구니로<span class="ml-3">
                        <i class="bi bi-arrow-right-square"></i></span>
                    </a>
                    <p>
                        <i class="ri-focus-fill mr-1"></i><strong>배송 / 반품 / 교환</strong>
                        <span class="pl-5"><br>배송: 상품은 주문일로부터 영업일 기준 2~3일 이내에 배송됩니다.<br>반품 및 교환: 반품은 수령 후 7일 이내 신청 가능하며, 제품에 손상이 없어야 합니다.<br>고객 변심 반품은 왕복 배송비가 청구될 수 있습니다.</span>
                    </p>
                    <p>
                        <i class="ri-focus-fill mr-1"></i><strong>세탁 및 취급 시 주의사항</strong>
                        <span class="pl-5"><br>제품을 손세탁하거나 찬물 세탁을 권장합니다.<br>세탁기 사용 시 세탁망 사용을 권장하며, 표백제 사용 금지.<br>직사광선이나 열풍건조기 사용 시 변형 가능성이 있습니다.</span>
                    </p>
                    <p>
                        <i class="ri-focus-fill mr-1"></i><strong>품질 보증 및 AS 정보</strong>
                        <span class="pl-5"><br>모든 제품은 1년 품질 보증을 제공합니다.<br>제품 결함 발견 시 무상 수리 또는 교환이 가능합니다.<br>A/S 접수는 고객센터를 통해 가능하며, 수리 소요 기간은 2주 내외입니다.</span>
                    </p>
                    <p>
                        <i class="ri-focus-fill mr-1"></i><strong>상품 제조연월 정보</strong>
                        <span class="pl-5"><br>본 상품의 제조연월은 2024년 10월입니다.<br>라벨에서 제조연월 확인 가능하며, 신상품은 최신 제조연월 보장.<br>제조연월은 품질 보증 기간 산정 기준입니다.</span>
                    </p>
                    <div class="reviews">
                        <h4>리뷰 (<span th:text="${reviewsCount}">74</span>)</h4>
                        <div class="review" th:each="reviewDetail : ${reviewDetails}">
                            <hr>
                            <!-- 사용자 ID 출력 -->
                            <p th:text="${reviewDetail['userId']}">유저아이디</p>

                            <p>
                                <!-- reviewDetail에서 review 데이터를 가져옴 -->
                                <!-- star_rate에 따라 별 출력 -->
                                <span th:each="i : ${#numbers.sequence(1, reviewDetail['review'].starRate > 5 ? 5 : reviewDetail['review'].starRate)}">★</span>
                                <!-- 남은 별은 빈 별로 출력 -->
                                <span th:each="i : ${#numbers.sequence(reviewDetail['review'].starRate + 1, 5)}"
                                      th:if="${reviewDetail['review'].starRate < 5}">☆</span>

                                <!-- 리뷰 작성 날짜 출력 -->
                                <span class="float-right"
                                      th:text="'작성날짜 : ' + ${reviewDetail['formattedCreateAt']}">
            리뷰작성날짜
        </span>
                            </p>
                            <!-- 리뷰 내용 출력 -->
                            <p th:text="${reviewDetail['review'].title}">리뷰 제목</p>
                            <p th:text="${reviewDetail['review'].comment}">리뷰 내용</p>
                        </div>
                    </div>
                </div>
            </div>
            <input name="product_id" th:value="${product.id}" type="hidden">
            <input name="size" type="hidden" value="">
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>