<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Shoes Shop</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- 부트스트랩 아이콘 사용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="productsMain-products container">
    <div class="row">
        <div class="col-12">
            <div class="list-group list-group-horizontal align-items-center">
                <a class="list-group-item border-0 px-2" th:href="@{/}">home</a>
                <span>/</span>
                <a class="list-group-item border-0 px-2" th:href="@{/products}">products</a>
                <span th:if="${category != null and !category.isEmpty()}">/</span>
                <!-- 카테고리가 존재할 때만 출력 -->
                <a class="list-group-item border-0 px-2"
                   th:href="@{/products(category=${category})}"
                   th:if="${category != null and !category.isEmpty()}"
                   th:text="${category}">Nike</a>
                <span th:if="${subcategory != null and !subcategory.isEmpty()}">/</span>
                <!-- 서브카테고리가 존재할 때만 출력 -->
                <a class="list-group-item border-0 px-2"
                   th:href="@{/products(category=${category}, subcategory=${subcategory})}"
                   th:if="${subcategory != null and !subcategory.isEmpty()}"
                   th:text="${subcategory}">Running</a>
            </div>

        </div>
        <div class="col-12 mt-2">
            <div class="pl-3">
                <h2 class="pl-4 m-0 font-italic">
                    <span th:if="${category == null or category.isEmpty()} and (${subcategory == null or subcategory.isEmpty()})">
    모든 상품
</span>
                    <span class="text-uppercase" th:text="${category}">카테고리</span>
                    <span th:if="${subcategory != null and !subcategory.isEmpty()}"> · </span>
                    <span class="text-uppercase"
                          th:text="${subcategory}">
                        Running</span>
                </h2>
                <div class="my-3 ml-2 bg-dark" style="width: 400px; height: 5px;"></div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="d-flex flex-wrap products-images">
            <div class="col-4 mb-4" th:each="product, image : ${products}">
                <a style="text-decoration: none; color: inherit;"
                   th:href="@{/productsDetail(productCode=${product.id}, category=${category})}">
                    <div class="card">
                        <img th:alt="${product.name}" th:src="${imageUrls[image.index]}"/>

                        <p class="pl-2 pt-2" th:text="${product.name}"></p>
                        <p class="pl-2" th:text="${product.description}"></p>
                        <p class="pl-2 product-price" th:text="${product.price} + ' 원'"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--    <div class="col-12">-->
    <!--        <ul class="pagination justify-content-center">-->
    <!--            <li class="page-item"><a class="page-link" href="#">&lt;</a></li>-->
    <!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
    <!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
    <!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
    <!--            <li class="page-item"><a class="page-link" href="#">4</a></li>-->
    <!--            <li class="page-item"><a class="page-link" href="#">5</a></li>-->
    <!--            <li class="page-item"><a class="page-link" href="#">&gt;</a></li>-->
    <!--        </ul>-->
    <!--    </div>-->
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>