<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Shoes Shop</title>
    <!-- 부트스트랩 아이콘 사용 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/mainpage.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="productsMain-products container">
    <div class="row">
        <div class="col-12">
            <div class="list-group list-group-horizontal align-items-center">
                <a class="list-group-item border-0 mr-3" href="#">@ 뒤로가기</a>
                <a class="list-group-item border-0 px-2" href="#">Home</a>/
                <a class="list-group-item border-0 px-2" href="#">Adidas</a>/
                <a class="list-group-item border-0 px-2" href="#">Running</a>/
                <a class="list-group-item border-0 px-2" href="#">Series1</a>
            </div>
        </div>
        <div class="col-12">
            <div class="pl-3">
                <h2 class="pl-3 m-0 font-italic"><span>Adidas</span> · <span>Running</span> · <span>Series1</span></h2>
                <h5 class="pl-3 m-0 font-italic text-uppercase">sportswear collection for women</h5>
                <div class="my-3 ml-2 bg-dark" style="width: 400px; height: 5px;"></div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-between px-3 py-2">
                <div class="list-group list-group-horizontal">
                    <a class="list-group-item list-group-item-action active" href="#">Series1</a>
                    <a class="list-group-item list-group-item-action" href="#">Series2</a>
                    <a class="list-group-item list-group-item-action" href="#">Series3</a>
                    <a class="list-group-item list-group-item-action" href="#">Series4</a>
                    <a class="list-group-item list-group-item-action" href="#">Series5</a>
                </div>
                <button class="btn btn-secondary" type="button">
                    Filter & Sort @
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex flex-wrap products-images">
                <div th:each="product : ${products}" class="col-4 mb-4">
                    <div class="card">
                        <img th:alt="${product.name}"
                             th:src="/images/${category}/${product.name}_${#strings.substring(product.name, product.name.size() - 2, product.name.size())}.png"/>
                        <p class="pl-2 pt-2" th:text="${product.name}"></p>
                        <p class="pl-2" th:text="${product.description}"></p>
                        <p class="pl-2" th:text="${product.price}"> 원</p>
                        <a th:href="@{/productsDetail(productCode=${product.id})}" class="btn btn-primary">상세 보기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>